:host {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #eff3f4;;

    &:hover{
        background-color: #f4f4f4;
        
    }

    .poo-wrapper {
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 10px;
    
        & .poo-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            & .poo-info {
                display: flex;
                gap: 8px;
    
                & span {
                    font-size: 14px;
                    color: gray;
                }
    
                & :nth-child(1) {
                    font-weight: 600;
                    color: black;
                }
            }

            & .poop-footer {

                & .likes {
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 4px;
                    border-radius: 20%;

                    
                    img {
                        padding: 2px;
                        border-radius: 50%;
                    }

                    span {
                        font-size: 14px;
                        color: #d4d1d1;
                    }

                    &:hover {
                        background-color: aqua;

                        &>img{
                            color: #d4d1d1;
                            background-color: #d4d1d1;
                        }
                    }

                }
            }
        }
    }
}
