<div style="position: relative">
  <div>start page works</div>
  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>

  <div>start page works</div>
</div>
<app-sign-in-modal></app-sign-in-modal>
<app-sign-up-modal></app-sign-up-modal>
